extends xhtml

snippet ltag "oneline tag" t
<${1:tag} $0/>
endsnippet

snippet tag "new xml tag" t
<${1:tag}${2: flag=...}>
$0
</$1>
endsnippet

snippet itag "inline tag" t
<${1:tag}${2: flag=...}>$0</$1>
endsnippet
